:root {
  /***************************************
             Colors
  ****************************************/

  --color-node-text: #00004d;
  /* Another color to consider for node annotations? --color-zinc-400 */
  --color-node-annotation: var(--color-node-text);
  --color-primary: #001188;
  --color-secondary: #2563eb;
  --color-button: #c7d2fe;
  --color-button-hover: #a5b4fc;

  /***************************************
          Border radius
  ****************************************/

  --theme-border-radius: 5px;

  /***************************************
        Highlighted vs normal paths 
  ****************************************/

  /* Stroke width */
  --default-stroke-width: 1px;
  /* TODO: Think about whether the default should be 2px */
  --highlighted-stroke-width: calc(var(--default-stroke-width) + 2px);

  /* Stroke color */
  --default-stroke-color: var(--color-primary);
  --color-highlighted-path-in-flow: var(--color-sky-600);
  /* TODO: Should check the colors against some color palette generator */

  /***************************************
      Compatible vs incompatible paths 
  ****************************************/

  --color-incompatible-path: var(--color-zinc-300);

  /***************************************
         BoolValue: True vs False 
  ****************************************/

  --color-true-value: var(--color-lime-200);
  --color-false-value: var(--color-rose-200);
}
