:root {
  --color-node-text: #00004d;
  --color-primary: #1e40af;
  --color-secondary: #2563eb;
  --color-button: #c7d2fe;
  --color-button-hover: #a5b4fc;

  --theme-border-radius: 5px;

  /* TODO: Need to check the colors against some color palette generator */
  --color-highlighted-path: #047857;
}

/**
From discussion of Meng's layman visualizer
  --color-negative: #dc2626; red for negative path 
  --color-path: #4b5563; dark grey for default path 
*/
