# Haskell files
dist-newstyle/
cabal.project.local
cabal.project.local~

## golden actual files
*.actual

## test setup
.vscode

# Typescript-monorepo stuff

## Turbo

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
tsconfig.tsbuildinfo
.next/
out/
build
dist
*/vscode/static/webview/
**/.svelte-kit/
ts-apps/jl4-web/src/generated/


## Built Visual Studio Code Extensions
*.vsix


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
*~
*.personalnotes

# Nix
.direnv
.envrc
result*

*.code-workspace

doc/*/*.html
