
*~
*.actual
build
# Build Outputs
## Built Visual Studio Code Extensions
.cabal
cabal.project.local
cabal.project.local~
*.code-workspace
coverage
# Debug
# Dependencies
.direnv
dist
dist-newstyle/
doc/*/*.html
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
## golden actual files
# Haskell files
jl4-demo.qcow2
\.jl4_history
# Local env files
# Misc
.next/
# Nix
node_modules
npm-debug.log*
out/
*.pem
*.personalnotes
.pnp
.pnp.js
result*
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
**/.svelte-kit/
# Testing
## test setup
ts-apps/jl4-web/src/generated/
tsconfig.tsbuildinfo
.turbo
# Turbo
## Turbo
# Typescript-monorepo stuff
.vercel
# Vercel
.vscode
ts-apps/vscode/bin
ts-apps/vscode/static/webview/
*.exe
*.vsix
yarn-debug.log*
yarn-error.log*
*.qcow2

# Generated skill packages
l4/l4.skill
l4/l4.zip
.cache/
