/**************************************************************************
  The DLV lib exports a style.css for the Ladder diagram
  This stylesheet is required for the Ladder diagram to render correctly 

  We may not want to import it here in the end,
  but regardless of whether we do an @import in the css
  or an import elsewhere, we want to make sure that
  we are importing via the public entrypoint declared in the dlv's package.json,
  and that we use the @repo/... alias (per Turborepo best practices).
****************************************************************************/
@import '@repo/decision-logic-visualizer/dist/style.css';
@import 'tailwindcss';
/* ladder lib's css needs to come before tailwind import */

/* Needs to be specified because 
Tailwind v4 doesn't automatically check for a tailwind.config.js file */
@config "../tailwind.config.js";

/* Shadcn theme */
@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.04 0.051 22.8);
    --muted: oklch(0.96 0.002 60.0);
    --muted-foreground: oklch(0.44 0.029 30.3);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.04 0.051 22.8);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.04 0.051 22.8);
    --border: oklch(0.9 0.016 22.8);
    --input: oklch(0.9 0.016 22.8);
    --primary: oklch(0.1 0.11 25.3);
    --primary-foreground: oklch(0.98 0.005 60.0);
    --secondary: oklch(0.96 0.002 60.0);
    --secondary-foreground: oklch(0.1 0.11 25.3);
    --accent: oklch(0.96 0.002 60.0);
    --accent-foreground: oklch(0.1 0.11 25.3);
    --destructive: oklch(0.55 0.23 29.2);
    --destructive-foreground: oklch(0.98 0.005 60.0);
    --ring: oklch(0.04 0.051 22.8);
    --radius: 0.5rem;
    --sidebar-background: oklch(0.98 0 0);
    --sidebar-foreground: oklch(0.26 0.022 240.0);
    --sidebar-primary: oklch(0.1 0.019 240.0);
    --sidebar-primary-foreground: oklch(0.98 0 0);
    --sidebar-accent: oklch(0.96 0.002 240.0);
    --sidebar-accent-foreground: oklch(0.1 0.019 240.0);
    --sidebar-border: oklch(0.91 0.016 220.0);
    --sidebar-ring: oklch(0.6 0.45 217.2);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    height: 100svh;
    width: 100%;
    overflow-y: hidden;
    background-color: #242424;
  }

  #jl4-editor {
    border: 1px solid grey;
  }
}

.quick-input-widget {
  position: absolute !important;
  left: 25px !important;
  right: auto !important;
  top: 25px !important;
}

div[widgetid='editor.contrib.quickInputWidget'] {
  position: absolute !important;
  left: 0 !important;
  right: auto !important;
}
