/**************************************************************************
  The DLV lib exports a style.css for the Ladder diagram
  This stylesheet is required for the Ladder diagram to render correctly 

  We may not want to import it here in the end,
  but regardless of whether we do an @import in the css
  or an import elsewhere, we want to make sure that
  we are importing via the public entrypoint declared in the dlv's package.json,
  and that we use the @repo/... alias (per Turborepo best practices).
****************************************************************************/
@import '@repo/decision-logic-visualizer/dist/style.css';

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  background-color: #242424;
}

#jl4-editor {
  border: 1px solid grey;
}

#jl4-webview {
}

.jl4-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100vh;
}
