/* can't put it in static because vite won't serve it */

/* ==== FURTHER CSS = TODO ======================== */

/* ===== Basic 'CSS reset' ======================= 
  tailwind resets it with preflight */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@xyflow/svelte/dist/style.css';
@import '../static/style/themes/default.css';
@import '../static/style/tailwind.css';

body {
  color: var(--color-primary);
  background-color: white;
}

.visualization-container {
  min-height: 400px;
  max-width: 80vw;
  margin: 0 auto;
}

.button {
  background-color: var(--color-secondary);
  color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

/* svelte-flow specific */

:root,
.svelte-flow {
  --xy-node-border-radius: var(--theme-border-radius);
  --xy-node-color: var(--color-node-text);
  --xy-node-border: 2px solid var(--color-primary);
  --xy-handle-background-color: var(--color-primary);
  --xy-edge-stroke: var(--color-primary);

  .svelte-flow__node {
    padding: 0.5rem;
    font-family: 'Source Sans 3', serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .svelte-flow__edge:hover .svelte-flow__edge-path {
    stroke: var(--color-secondary) !important;
  }

  .svelte-flow__handle {
    min-width: 0;
    min-height: 0;
    width: 0;
    height: 0;
    border: 0;
    background-color: transparent;
  }
}
