@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import '@xyflow/svelte/dist/style.css';

@import '../static/style/themes/default.css';

@import 'tailwindcss';


/*************************************
  Utility SF styles
*************************************/

@utility svelte-flow__node-basic {
  font-size: 1rem;
  color: var(--xy-node-color, var(--xy-node-color-default));
  text-align: center;
  background-color: var(
    --xy-node-background-color,
    var(--xy-node-background-color-default)
  );
}

@utility bool-var-node {
  @apply svelte-flow__node-basic;

  border: var(--xy-node-border, var(--xy-node-border-default));
  border-radius: var(
    --xy-node-border-radius,
    var(--xy-node-border-radius-default)
  );

  min-width: 8rem;
  padding: 12px;
}

@utility grouping-node {
  @apply svelte-flow__node-basic;
  /* Will lose the grouping node if make width 0 px */
  width: 1px;
  opacity: 0.3;
}

/*************************************
  Other styles
*************************************/

body {
  color: var(--color-primary);
  background-color: white;
  margin: 0;
}

.visualization-container {
  min-height: 400px;
  max-width: 96vw;
  margin: 0 auto;
}

.button {
  background-color: var(--color-secondary);
  color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

/* svelte-flow specific */

:root,
.svelte-flow {
  --xy-node-border-radius: var(--theme-border-radius);
  --xy-node-color: var(--color-node-text);
  --xy-node-border: 2px solid var(--color-primary);
  --xy-handle-background-color: var(--color-primary);
  --xy-edge-stroke: var(--color-primary);

  .svelte-flow__node {
    font-family: 'Source Sans 3', serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .svelte-flow__edge:hover .svelte-flow__edge-path {
    stroke: var(--color-secondary) !important;
  }
}
