# Note: any configuration settings in the repo-root .npmrc file
# will also apply to the packages within the monorepo

# This option will cause pnpm to fail if its version doesn't exactly match the
# version specified in the `packageManager` field of package.json.
package-manager-strict-version=true

# Check the state of dependencies before running scripts
# The check runs on pnpm run and pnpm exec commands
# prompt - Prompts the user for permission to run install if node_modules is not up to date.
verify-deps-before-run=prompt
