:root {
  --color-primary: #1e40af;
  --color-secondary: #2563eb;
  --color-positive: #047857; /* green for positive path */
  --color-negative: #dc2626; /* red for negative path */
  --color-path: #4b5563; /* dark grey for default path */
  --color-button: #c7d2fe;
  --color-button-hover: #a5b4fc;
}

/* default single-panel vertical layout */

/* two-panel horizontal */

/* three-panel horizontal */
