:root {
  --color-primary: #1E40AF  ;
  --color-secondary: #2563EB;
  --color-positive: #047857; /* green for positive path */
  --color-negative: #DC2626; /* red for negative path */
  --color-path: #4B5563; /* dark grey for default path */
  --color-button: #C7D2FE;
  --color-button-hover: #A5B4FC;
}