.DS_Store

# Include bundled binaries
!bin/**

# Exclude L4 library test outputs (golden files grow with each test run)
libraries/tests/**

**/*.ts
**/*.mts
**/*.map
.vscode/**
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/*.tsbuildinfo
*.vsix
scripts/**
eslint.config.mjs
.vscode-test.js

node_modules/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**

.turbo

out/**
!out/*.js

# this is a short-term hack.
# Better solution is to use something like webpack
.../../../
../../
../
