@utility svelte-flow__node-basic {
  border-radius: var(
    --xy-node-border-radius,
    var(--xy-node-border-radius-default)
  );
  font-size: 1.2rem;
  /* TODO: YM: Should we really be using a fixed width? 
  Especially if we are going to have the grouping nodes inherit from this? */
  width: 150px;
  padding: 10px;
  color: var(--xy-node-color, var(--xy-node-color-default));
  text-align: center;
  border: var(--xy-node-border, var(--xy-node-border-default));
  background-color: var(
    --xy-node-background-color,
    var(--xy-node-background-color-default)
  );
  overflow: auto;
}

.svelte-flow__node-boolVarNode,
.svelte-flow__node-sinkSFNode,
.svelte-flow__node-sourceSFNode {
  @apply svelte-flow__node-basic;
}
