@utility svelte-flow__node-basic {
  font-size: 1rem;
  color: var(--xy-node-color, var(--xy-node-color-default));
  text-align: center;
  background-color: var(
    --xy-node-background-color,
    var(--xy-node-background-color-default)
  );
}

.svelte-flow__node-boolVarNode {
  @apply svelte-flow__node-basic;

  border: var(--xy-node-border, var(--xy-node-border-default));
  border-radius: var(
    --xy-node-border-radius,
    var(--xy-node-border-radius-default)
  );

  min-width: 8rem;
  padding: 4px;
}
.svelte-flow__node-sinkSFNode,
.svelte-flow__node-sourceSFNode {
  @apply svelte-flow__node-basic;
  padding: 0;
}
