/**************************************************************************
  The DLV lib exports a style.css for the Ladder diagram
  This stylesheet is required for the Ladder diagram to render correctly 
****************************************************************************/
@import 'l4-ladder-visualizer/dist/style.css';
@import 'tailwindcss';

/* ===== Basic 'CSS reset' ======================= 

Resources
  * https://www.joshwcomeau.com/css/custom-css-reset/
  * https://piccalil.li/blog/a-more-modern-css-reset/
*/

#html {
  isolation: isolate; /* create a new stacking context */

  /* Prevent font size inflation */
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; /* For older browsers */
  text-size-adjust: 100%;

  height: 100%;
}

/* Core body defaults */
body {
  height: 100%;
  line-height: 1.1;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
